* {
    box-sizing: border-box;
}


body {
     margin: 0 !important;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
}
  
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.game-board {
    background-color: black;
    border: 2px solid white;
}
 
.game-menu {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center; 
}

.game-start-text {
    font-size: 40px;
    margin-bottom: 10px;
    font-style: italic;
}

line {
    stroke: white;
    stroke-width: 3px;
}
  
circle {
    fill: #9fbd33;
    transition: transform 0.05s linear;
}
  
rect {
    stroke: black;
    stroke-width: 2px;
}

#menu-container {
    background: url("/splash.png");
    background-position: center;
    background-size: cover;
}

#highscore {
    display: flex;
    height: 50%;
    justify-content: center;
}
