.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    justify-content: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2{
    font-size: 35px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .game-board {
    background-color: black;
    border: 2px solid white;
  }
  
  .player1-text{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
  }

  .player2-text{
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
  }

  .game-start-text{
    font-size: 70px;
    margin-bottom: 40px;
    font-style:italic;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  line {
    stroke: white;
    stroke-width: 3px;
  }
  
  circle {
    transition: transform 0.05s linear;
  }
  
  rect {
    stroke: black;
    stroke-width: 2px;
  }

  #menu-container {
    background: url("/splash.png");
    background-position: center;
    background-size: cover;
    }
